@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    font-family: 'Roboto';
    font-weight: 300;
}

strong {
    font-weight: 500;
}

h2 {
    padding-top: 20px;
    font-weight: 500;
    color: #495C90;
}

a {
    text-decoration: none;
    color: #495C90;
}

body {
    background-color: #F2E9E1;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #5B6274;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

text.bb-title {
    font-size: 17px;
    font-weight: 400;
}

.strong {
    font-weight: 500;
}

.header {
    font-size: 2.5em;
    height: 250px;
    color: #495C90;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 70px;
}

.subtitle {
    font-size: 16px;
}

.subtitle a {
    opacity: 0.8;
    font-weight: 400;
}

.menu{
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    margin-top: 40px;
}

.menu-item {
    margin: 0 5px;
}

a:hover{
    opacity: .8;
}

.chart {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

#allYearsChart,
#allYearsPercentageChart {
    min-height: 700px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #FFFCF9;
    padding: 40px 70px;
    box-shadow: 0 0 6px rgb(0 0 0 / 16%), 0 0 4px rgb(0 0 0 / 12%);
    border-radius: 10px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1000px) {
    .container {
        width: 900px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}