@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    font-family: 'Roboto';
    font-weight: 300;
}

strong {
    font-weight: 500;
}

h2 {
    padding-top: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #fcfcfc;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

text.bb-title {
    font-size: 17px;
    font-weight: 400;
}

.strong {
    font-weight: 500;
}

.header {
    font-size: 2.5em;
    height: 250px;
    color: white;
    background-color: #f9c5d1;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
    width: 100%;
}

.subtitle {
    font-size: 16px;
}

.subtitle a {
    opacity: 0.8;
    font-weight: 400;
}

.menu{
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.menu-item {
    margin: 0 5px;
}

.menu a:hover{
    opacity: .8;
}

.chart {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

#allYearsChart,
#allYearsPercentageChart {
    min-height: 700px;
}

.container {
    width: 80%;
    margin: auto;
}

@media screen and (min-width: 1000px) {
    .container {
        width: 900px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}